rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(groupId) {
      let group = get(/databases/$(database)/documents/game-groups/$(groupId));

      return group.data.ownerId == request.auth.uid;
    }

    function isGroupMember(groupId) {
      let group = get(/databases/$(database)/documents/game-groups/$(groupId));
      let isMember = request.auth.uid in group.data.members;

      return isMember || group.data.ownerId == request.auth.uid;
    }

    function canViewGroupList() {
      let isMember = request.auth.uid in resource.data.members;
      return isMember;
    }

    function groupWrite(groupId) {
      let isMember = request.auth.uid in resource.data.members;
      return isMember;
    }

    function canEdit() {
      return resource.data.ownerId == request.auth.uid;
    }

    function canCreate() {
      return request.resource.data.ownerId == request.auth.uid;
    }

    match /game-groups/{groupId} {
      allow write: if canCreate();
      allow list: if canViewGroupList();
      allow get: if isGroupMember(groupId);

      match /{documents=**} {
      	allow write: if isGroupMember(groupId);
      	allow read: if isGroupMember(groupId);
      }
    }
  }
}
